@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    font-family: 'Karma', serif;
    background: #E5E5E5;
    font-size: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}
  
.mt-6 {
    margin-top: 6rem;
}

.mb-6 {
    margin-bottom: 6rem;
}

.my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.mt-8 {
    margin-top: 8rem;
}

.mb-8 {
    margin-bottom: 8rem;
}

.my-8 {
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.mt-15 {
    margin-top: 15rem;
}

.mb-15 {
    margin-bottom: 15rem;
}

.my-15 {
    margin-top: 15rem;
    margin-bottom: 15rem;
}

.fw-700 {
    font-weight: 700;
}

.fw-600 {
    font-weight: 600;
}

.fw-500 {
    font-weight: 500;
}

.fw-400 {
    font-weight: 400;
}

.fw-300 {
    font-weight: 300;
}

.fs-xxs {
    font-size: xx-small;
}

.fs-xs {
    font-size: x-small;
}

.fs-smr {
    font-size: smaller;
}

.fs-sm {
    font-size: small;
}

.fs-nm {
    font-size: normal;
}

.fs-lg {
    font-size: large;
}

.fs-lgr {
    font-size: larger;
}

.fs-xlg {
    font-size: x-large;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.white {
    color: #ffff;
}

.white:hover {
    color: #ffff;
}

.red {
    color: rgba(114,27,27,1);

}

.bg-red {
    background: rgba(114,27,27,1);

}

.bg-grey {
    background: rgba(196,196,204,0.3) !important;

}

.bg-transparent {
    background-color: unset;
}

.border-none {
    border: none;
}

.no-box-shadow {
    box-shadow: none !important;
}


.lh-00 {
    line-height: 0rem ;
}

.lh-0 {
    line-height: 0.4rem;
}

.lh-1 {
    line-height: 1rem;
}

.lh-2 {
    line-height: 1.5rem;
}

.lh-3 {
    line-height: 2rem;
}

.grey-color {
    color: rgba(101,97,97,1);

}

.br-1 {
    border-radius: 0.3rem;
}

.br-2 {
    border-radius: 0.5rem;
}

.br-3 {
    border-radius: 0.7rem;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-45 {
    width: 45%;
}

.w-55 {
    width: 55%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.h-25 {
    height: 25%;
}

.h-30 {
    height: 30%;
}

.h-40 {
    height: 40%;
}

.h-70 {
    height: 70%;
}

.border-white {
    border: 0.1rem solid #fff;
}

.mb-6 {
    margin-bottom: 6rem;
}

.no-border {
    border: none !important;
}

.form-group .form-control {
    background: rgba(255,255,255,0.7);
    padding-left: 1.35rem !important;

}




/**********************************************
                
                    NAV BAR

***********************************************/

nav,
footer,
.contact-info,
.waybill-info,
.payment-info {
    background: #F6F6F6;
    
}

nav {
    height: 4rem;
}

.nav-logo-container,
.nav-logo-img {
    height: 100%;
}

.search-nav-label {
    padding-top: 0.20rem;
}

.search-nav {
    border-bottom: 0.03rem solid black ;
}


/* small screen sidebar css */

#sideBar {
    position: fixed;
    width: 0;
    left: 0;
    top: 0;
    height: 100vh;
    overflow-x: hidden;
    background: #fff;
    z-index: 1;
    transition: 0.35s;
    overflow-y: scroll;
}

#sideBar .sidebar-nav {
    height: 1.5rem;
}

#sideBar .sidebar-links {
    position: relative;
    top: 0.5rem;
    left: 0.6rem;
    line-height: 3rem;
    transition: 0.1s;
}

#sideBar .sidebar-links .sub-links{
   
    line-height: 1.2rem;
}

.nav-sm-container {
    height: 100%;
}

.open-btn {
   display: flex;
   align-items: center;
} 


/* main-content */

.main-content {
    margin-top: 4rem;
    
}


 /* welcome bg img */


.hero-container {
    width: 100%;
    height: fit-content;
    position: relative;
    display: flex;
    
    
}

.hero-image {
    width: 100%;
    position: absolute;
}

.hero-layer {
    width: 100%;
    max-height: inherit;
    z-index: 3;
    display: flex;
    text-align: center; 
    color: #fff;
}



.hero-text {
    margin: auto;
}






/* .bg-rikeey {
    position: relative;
    margin: 0;
    padding: 0;
    background-image: url("../images/madeforcomfort.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 2rem;
}

.layer {
    margin: 0;
    padding: 0;
    background-color: rgba( 143,16,16,0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.comfort-text {
    font-size: 5rem;
} */



/* catalog-content */

.catalog-label,
.slider-label {
    background-color: rgba(115,15,17,1 );
    color: #fff;
    width: 30%;
    height: 3.2rem;
    margin-left: 0;
    display: flex;
    margin-bottom: 2.5rem;
 }

 .catalog-label-text {
    font-size: 1.5rem;
}


/* catalog imgs */

.men-top,
.women-short,
.women-set,
.men-bottom {
    position: relative;
}


.catalog-img {
    position: absolute;
    left: 0;
    top: 0;
}

.catalog-text-bg {
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    width: 10rem;
    height: 3.2rem;
    margin: 0;
    padding: 0;
    display: flex;

}

.men-top-img,
.men-bottom-img,
.women-set-img,
.women-short-img {
    width: 100%;
}


.men-top-img,
.women-set-img,
.women-short-img,
.men-bottom-img {
    height: 100%;
   
}




/* slider section */

.slider-container {
   width: 25rem !important;
   margin: auto;
   border: 1px solid red;
   overflow: visible !important;

}

.image-slide {
    display: flex;
    width: 300%;
    /* position: relative;
    transition: left 1s;
    -webkit-transition: left 1s ;
    -moz-transition: left 1s ;
    -o-transition: left 1s ; */
}

.slide-img-container {
    width: 25rem !important;
    height: 30rem !important;
    
}

.slider-img {
    width: 100%;
    height: 100%;
}





/**********************************************
                
                    SHOP

***********************************************/


/* filter sidebar */


#filterBar {
    position: fixed;
    width: 0;
    left:0;
    top: 6rem;
    background: #E5E5E5;
    z-index: 1;
    transition: 0.35s;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

#filterBar::-webkit-scrollbar {
    display: none;
        
}




.open-filter {
    position: absolute;
    top: 1.5rem;
    background-color: transparent;
    align-items: center;
}

.filterbar-links {
    margin-bottom: 3.8rem;
}

.filter-borderbl {
    border-bottom: 0.1rem solid #000;
}

.filter-mn {
    border-bottom: 0.2rem solid rgba(114,27,27,1);
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}

.filter-sublinks {
    font-size: 0.85rem;
    line-height: 2.3rem
}

/* .shop-col */



.shop-col {
    position: relative;
}

.col-header {
    position: absolute;
    top: -2.2rem;
    font-weight: 700;
}



.shop-col img {
    margin-bottom: 1.5rem;
    height: 80% ;
    width: 100% ;
}

.shop-col-text {
    font-weight: 600;
    line-height: 0.62rem;
}

.shop-col-text .mb-m8 {
    font-weight: 700;
    margin-bottom: 0.8rem ;

}


.pages-catalog {
    font-size: 0.85rem;
    height: 1.4rem;
    width: 1.4rem ;
    line-height: 1.5rem;
    border-radius: 50%;
    text-align: center;
    font-weight: 700;
    
}

.pages-catalog:active {
    background: rgba(51,51,51,1);
    color: #fff;
}

/* dropdown */

.filter-borderbl .dropdown-menu {
    position: static !important;
    float: none;
    border: transparent;
    background: transparent;
    transform: unset !important;
    padding: 0;
    margin: 0;
}

.filter-borderbl .dropdown-menu,
.dropdown-item {    
    font-weight: 500 !important;
    padding-left: 1rem;
    line-height: 1.8rem;
}

.dropdown-item:active,
.dropdown-item:hover {    
    background-color:rgba(114,27,27,1) !important;
    color: #fff;
}

.filter-borderbl .btn {
    padding: unset;
}


.dropdown-toggle::after {
    display: none;
}



/**********************************************
                
                    SHOPPING CART

***********************************************/



.cart {
    width: 95%;
    font-weight: 700;
    margin-top: 4rem;
    margin-bottom: 15rem;
    margin-left: auto;
    margin-right: auto;

}

.cart-head {
    height: 2.8rem;
    width: 100%;
    color: #fff;
    background: rgba(114,27,27,1);
    border: 0.15rem solid rgba(114,27,27,1);
    display: flex;
    padding: 0 0.5rem;
}

.cart-body {
    border: 0.1rem solid #000;
    border-top: none;
    
}

.cart-body .row {
    height: 14rem;
    margin: 0 -0.12rem;
}

.cart-bb {
    border-bottom: 0.1rem solid #000;
}

.cart-br {
    border-right: 0.1rem solid #000;
}

.cart-addbtn {
    border-radius: 0.6rem;
    padding: 0.2rem 1rem;
    font-size: large;
    width: 100%;
}

.total-sec{
    width: 12rem;
}

.cart-total {
    border-bottom: 0.15rem solid #000;
}


/**********************************************
                
                check out

***********************************************/

/* .contact-info {
    border-radius: ;
} */

.mastercard-img {
   height: 1.4rem;
   width: 1.5rem;
}

.paystack-img {
    height: 1.5rem; 
 }
 


/**********************************************
                
                    FOOTER

***********************************************/


/* footer {
    height: 6rem;
} */

.footer-logo {
    height: 3rem;
  }
  
  .email-footer-label {
    background-color: #730f11;
    width: 2.5rem !important;
  }
  
  .email-footer {
    width: 15rem !important;
  }
  
  .email-input-footer {
    background-color: #ede6e6 !important;
  }
  
  .signup-align {
    text-align: end;
  }
  
  
  
  @media (min-width: 320px) {
    .mx-s-auto {
      width: 100%;
    }
  
    .email-text-align {
      margin-top: 3rem;
      margin-bottom: 5rem;
    }
  
    .signup-align {
      text-align: left;
    }
  
    .signup-link {
      width: 100%;
      text-align: center;
      margin-bottom: 0.5rem;
    }
  
    .br-on-mobile {
      display: inherit;
      margin-left: auto;
      margin-right: auto;
    }
  
    .payment-method {
      margin-top: 1rem;
      margin-bottom: 3rem;
      text-align: center;
    }

    .payment-icon {
        text-align: center;
        
    }
  }
  
  @media (min-width: 768px) {
    .mx-s-auto {
      margin-left: auto;
      width: unset;
    }
  
    .email-text-align {
      margin-bottom: 1.5rem;
    }
  
    .signup-align {
      text-align: right;
      margin-top: 2rem;
    }
  
    .br-on-mobile {
      display: unset;
      margin-right: auto;
    }
  
    .payment-method {
      margin-top: 3rem;
      margin-bottom: 3rem;
      text-align: unset;
    }

    .payment-icon {
        text-align: unset;
      }
  }
  




/**********************************************
        MEDIA QUERY FOR SMALL SCREENS
***********************************************/


@media (min-width: 320px ) {

    /* nav/sidebar */

    .bg-nav {
        display: none ;
    
    }

    .nav-logo-container {
        height: 2rem !important;
        align-self: center;
    }

    #sideBar .sidebar-links {
        font-size: large;
    }

    #sideBar .sidebar-links .sub-links{
        font-size: normal;
        
    }

    /* main-content */

    /* hero container */

    .hero-container {
        margin-bottom: 2rem;
    }

    

    /* catalog-content */

    /* catalog */

    .catalog-section {
        margin-bottom: 1rem ;
    }

    .catalog-label {
        display: none;
        
    }

    .catalog-image-container {
        margin: 0 1rem;
        height: unset;
        
    }

    .men-top {
        order: 4;
    }

    .men-bottom {
        order: 3;
    }

    .women-catalog {
        order: 2;
    }

    .men-top,
    .men-bottom {
        height: 20rem;
        
    }

    .women-catalog {
        height: calc((20rem + 1.5rem) * 2);
    }

    .women-short,
    .women-set {
        height: 48%;
    
    }
    
    
    .men-top,
    .women-catalog,
    .women-short,
    .men-bottom {
        margin-bottom: 1.5rem;
        
    }


    /* slider section */

    .slider-label {
        height: 2.5rem;
     }

    .slider-label-text {
        font-size: 0.8rem;
    }

    /* filter bar */

    #filterBar {
        height: 100vh;
        position: fixed;
        width: 0%;
        transition: 0.35s;
 
    }

    .open-filter {
        display: initial;
    }

    .close-filter {
        z-index: 22;
        position: relative ;
    }

    /* shop */
    
    /* filter col */

    .filter-col {
        margin-top : unset;
    }

    .filterbar-links {
        margin-left: auto;
        margin-right: auto;
    }

    /* Shop col */
    .shop-col {
        width: 45% !important;
    }

    .d-s-none {
        display: none;
    }

    .d-l-none {
        display: unset;
    }

    /* shop catalog */

    .shop-catalog {
        margin-top : 6rem ;
        margin-bottom : 4rem ;

    }

    .shop-col-text p {
        font-size: 0.8rem;
        
    }

    .shop-col-text .mb-m8 {
        font-size: 0.7rem;
    }



    
    
}


/**********************************************
        MEDIA QUERY FOR MEDIUM SCREENS
***********************************************/


@media (min-width: 768px ) {

    /* nav/sidebar */

    /* .bg-nav {
        display: none ;
    
    } */

    /* .nav-logo-container {
        height: 1.8rem !important;
        align-self: center;
    }

    #sideBar .sidebar-links {
        font-size: normal;
    }

    #sideBar .sidebar-links .sub-links{
        font-size: small;
        
    } */

    /* main-content */

    /* catalog-content */

    


}




/**********************************************
        MEDIA QUERY FOR LARGE SCREENS
***********************************************/



@media (min-width: 768px ) {

     /* nav/sidebar */

    .sm-nav {
        display: none ;

    }

    .bg-nav {
        display: flex;
        margin: 0;
    }

    /* main-content */

    /* hero container */

    .hero-container {
        margin-bottom: 5.5rem;
    }


    /* catalog-content */

    .catalog-section {
        margin-bottom: 8rem ;
    }


    .catalog-label {
        display: flex;
    }


    .men-top {
        order: 1;
    }

    .men-bottom {
        order: 4;
    }

    .women-catalog {
        order: 2;
    }

    .men-top,
    .men-bottom,
    .women-catalog {
        height: 38rem;
        
    }

    .women-short,
    .women-set {
        height: 50%;

    }

    

    .men-top,
    .women-set,
    .women-short,
    .men-bottom {
        margin-bottom: 0rem ;
    }

    

    .catalog-image-container {
        margin: 0 3rem;
     }
    

      /* slider section */

    .slider-label {
        height: 3.2rem;
    }


    .slider-label-text {
        font-size: 1.5rem;
    }

    /* filter bar */
    

    #filterBar {
        height: unset;
        position: static;
        width: 100% !important;
        transition: none;

    }

    .open-filter {
        display: none;
    } 

    .close-filter {
        display: none;
    }

    /* shop */

    /* filter col */

    .filter-col {
        margin-top : 2rem ;
    }

    .filterbar-links {
        margin-left: auto;
        margin-right: unset;
    }
    
    /* shop col */
    .shop-col {
        width: 30% !important;
    }

    .d-s-none {
        display: unset ;
    }

    .d-l-none {
        display: none;
    }

    /* shop catalog */

    .shop-catalog {
        margin-top : 5.5rem ;
        margin-bottom : 2rem ;
    }


    .shop-col-text p {
        font-size: 0.9rem;
        
    }

    .shop-col-text .mb-m8 {
        font-size: 0.8rem;
    }



}
